
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Products</title>
</head>
<body>
<h1>Sửa</h1>
<div>
    <div>
        <form method="post">
            <div class="mb-3">
                <label for="editPrice" class="form-label">Bài viết</label>
                <input type="text" class="form-control" id="editPrice" value="{content}" name="content">
            </div>
            <div class="mb-3">
                <label for="editDescription" class="form-label">Thoi gian</label>
                <input type="text" class="form-control" id="editDescription" value="{createTime}" name="createTime">
            </div>
            <div class="mb-3">
                <label for="editDescription" class="form-label">Anh</label>
                <input type="text" class="form-control" id="editDescription1" value="{image}" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>