<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        body {
            background: pink;
        }

    </style>
</head>
<body>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Animals</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="https://img.freepik.com/premium-vector/australian-animal-logo-icon-design_106546-114.jpg?w=2000"
                         alt="" width="50" height="50" class="d-inline-block align-text-top">

                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/signup">Sign up<span class="sr-only">(current)</span></a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Sign in</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <br>
    <div class="container py-3">
        <div class="title h1 text-center">ANIMAL AND fLOWER</div>
        <!-- Card Start -->
        <div class="card">
            <div class="row ">

                <div class="col-md-7 px-3">
                    <div class="card-block px-6">
                        <h4 class="card-title">ANIMALS </h4>
                        <p class="card-text">
                            My favorite pet is a dog. I love dogs because they are cute and loyal to their owners. I
                            have a dog at home, his name is Ki. Ki is a dog which I have been keeping for four years. It
                            is a Poodle so it is really friendly. It has bushy and soft brown fur and glistening eyes.
                            When I look at his big, beautiful eyes, I just melt like ice cream on a hot summer day.  </p>
                        <p class="card-text"> Since I had my cat Fattie, my love for cat has become bigger. Cats are
                            always my favorite animal, and I am planning on adopting one more cat so Fattie can have
                            another best friend.</p>
                        <p>Flaps bring us lots of fun and relaxing moments with them. They are very sassy and cute. So
                            we should treat them well</p>
                        <br>
                    </div>
                </div>
                <!-- Carousel start -->
                <div class="col-md-5">
                    <div id="CarouselTest" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
                            <li data-target="#CarouselTest" data-slide-to="1"></li>
                            <li data-target="#CarouselTest" data-slide-to="2"></li>

                        </ol>
                        <div class="carousel-inner" style="height:500px; width: 500px ">
                            <div class="carousel-item active">
                                <img class="d-block"
                                     src="https://i.pinimg.com/originals/ac/4b/8b/ac4b8b0964fc08f97a137a0165ff1f56.jpg"
                                     alt="">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block"
                                     src="https://thuythithi.com/wp-content/uploads/2021/09/5-giong-cho-long-trang-dep-nhat-va-meo-cham-soc-02.jpg"
                                     alt="">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block"
                                     src="https://dathoanhanh.com/wp-content/uploads/2019/08/y-nghia-hoa-baby6.jpg"
                                     alt="">
                            </div>
                            <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of carousel -->
            </div>
        </div>
        <!-- End of card -->

    </div>

        <div class="card">
            <div class="row ">

                <div class="col-md-7 px-3">
                    <div class="card-block px-6">
                        <h4 class="card-title">FLOWER </h4>
                        <p class="card-text">
                            The baby flower is a very beautiful flower. They are colorful and cute, we can decorate them
                            in the classroom or office </p>
                        <p class="card-text"> </p>
                        <p></p>
                        <br>
                    </div>
                </div>
                <!-- Carousel start -->
                <div class="col-md-5">
                    <div id="CarouselTest1" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
                            <li data-target="#CarouselTest" data-slide-to="1"></li>
                            <li data-target="#CarouselTest" data-slide-to="2"></li>

                        </ol>
                        <div class="carousel-inner" style="height:500px; width: 500px ">
                            <div class="carousel-item active">
                                <img class="d-block"
                                     src="https://bachthao.net/wp-content/uploads/2020/03/hoa-hong-nhung-2.jpg"
                                     alt="">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block"
                                     src="https://cf.shopee.vn/file/8774bf8370d078a549839d231a81f8fd"
                                     alt="">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block"
                                     src="https://img2.thuthuatphanmem.vn/uploads/2018/12/05/hinh-anh-con-cong-sac-so_105539733.jpg"
                                     alt="">
                            </div>
                            <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of carousel -->
            </div>
        </div>

    </div>


    <br>
    <br>

</div>

</body>
</html>